In [4]:
#FINAL

In [5]:
import os
import pandas as pd
import io

In [6]:
path = os.getcwd()
files = os.listdir(path)
files

['2019Permit.xlsx',
 'Untitled1.ipynb',
 '.DS_Store',
 'Untitled.ipynb',
 '2016Permit.xlsx',
 '2021Permit.xlsx',
 '2015Permit.xlsx',
 '2018Permit.xlsx',
 '.ipynb_checkpoints',
 '2017Permit.xlsx',
 '2020Permit.xlsx',
 'Ones I can look at']

In [7]:
files_xls = [f for f in files if f[-4:] == 'xlsx']
files_xls

['2019Permit.xlsx',
 '2016Permit.xlsx',
 '2021Permit.xlsx',
 '2015Permit.xlsx',
 '2018Permit.xlsx',
 '2017Permit.xlsx',
 '2020Permit.xlsx']

In [8]:
readxls = []
for file in files_xls:
    readxls.append(pd.read_excel(file, header=None))
pd.concat(readxls, ignore_index=True)

,0,1,2,3,4,5,6,7
0,2019 Middle Fork Salmon River Lottery,First Choice,2nd Choice,3rd Choice,4th Choice,Total Choices for this date:,NaN,Available # of Permits
1,2019-05-28 00:00:00,133,29,18,34,214,NaN,4
2,2019-05-29 00:00:00,35,80,10,20,145,NaN,4
3,2019-05-30 00:00:00,50,31,75,18,174,NaN,4
4,2019-05-31 00:00:00,55,39,18,61,173,NaN,4
...,...,...,...,...,...,...,...,...
702,2020-08-31 00:00:00,27,19,27,63,136,NaN,4
703,2020-09-01 00:00:00,38,53,65,46,202,NaN,5
704,2020-09-02 00:00:00,33,42,43,44,162,NaN,4
705,2020-09-03 00:00:00,28,17,38,46,129,NaN,6
706,TOTALS:,17453,16918,16185,15204,65760,NaN,387

In [ ]:
#Data From 
#https://wcc.sc.egov.usda.gov/reportGenerator/view_csv/customWaterYearGroupByMonthReport/monthly/start_of_period/620:ID:SNTL|id=%22%22|name/POR_BEGIN,POR_END:M|1,M|2,M|3,M|10,M|11,M|12/WTEQ::value

In [1]:
Snow_depth = [[1982,0.0,1.1,5.2,12.0,17.3,20.1],
[1983,0.3,1.1,3.7,10.4,13.0,17.1],
[1984,0.0,0.0,5.0,8.6,10.0,12.5],
[1985,0.0,2.6,7.4,9.2,9.3,12.3],
[1986,0.0,1.9,4.8,6.2,9.0,15.0],
[1987,0.8,0.3,4.6,5.1,7.3,9.2],
[1988,0.0,0.0,1.1,5.3,8.3,10.6],
[1989,0.0,0.0,5.0,6.6,10.5,11.6],
[1990,0.0,2.2,3.3,5.0,9.8,11.2],
[1991,0.0,0.6,2.9,5.7,7.3,7.6],
[1992,0.0,1.9,4.9,6.9,7.7,10.0],
[1993,0.0,0.5,2.3,7.5,10.5,12.0],
[1994,0.0,0.2,0.6,3.3,5.3,9.4],
[1995,0.0,1.6,5.1,7.6,12.8,13.9],
[1996,0.3,0.6,5.3,9.8,13.7,16.6],
[1997,0.0,1.9,7.1,15.3,20.7,22.2],
[1998,0.0,2.0,3.0,4.1,8.8,10.8],
[1999,0.0,0.2,6.0,10.6,13.1,18.7],
[2000,0.0,0.6,2.1,5.5,9.7,12.3],
[2001,0.0,2.8,4.1,5.6,6.5,7.1],
[2002,0.0,1.1,3.1,6.4,9.6,11.3],
[2003,0.0,0.7,1.9,4.8,8.0,10.5],
[2004,0.0,0.1,3.3,7.1,9.7,13.4],
[2005,0.0,2.6,2.9,5.7,6.9,7.8],
[2006,0.0,0.4,3.8,7.6,11.7,14.5],
[2007,0.0,1.0,3.1,6.5,7.5,10.4],
[2008,0.3,2.1,3.5,7.1,11.2,14.0],
[2009,0.0,0.0,1.9,6.4,8.9,10.3],
[2010,0.3,2.3,3.4,4.9,6.6,7.4],
[2011,0.0,1.4,4.4,8.5,11.0,13.0],
[2012,0.0,0.5,2.7,5.0,7.7,10.3],
[2013,0.0,1.0,4.6,9.1,10.9,12.4],
[2014,1.7,2.6,4.5,7.0,9.9,15.1],
[2015,0.0,0.2,3.0,6.6,8.4,10.6],
[2016,0.0,0.6,2.9,7.5,10.1,11.3],
[2017,0.0,0.0,1.6,6.9,9.9,17.8],
[2018,0.0,0.4,4.7,7.3,10.4,13.1],
[2019,0.0,0.1,1.8,3.9,5.9,13.5],
[2020,1.0,1.9,2.8,4.9,8.1,10.9],
[2021,0.0,0.5,2.8,4.8,6.7,9.6]]

In [2]:
Snow_depth

[[1982, 0.0, 1.1, 5.2, 12.0, 17.3, 20.1],
 [1983, 0.3, 1.1, 3.7, 10.4, 13.0, 17.1],
 [1984, 0.0, 0.0, 5.0, 8.6, 10.0, 12.5],
 [1985, 0.0, 2.6, 7.4, 9.2, 9.3, 12.3],
 [1986, 0.0, 1.9, 4.8, 6.2, 9.0, 15.0],
 [1987, 0.8, 0.3, 4.6, 5.1, 7.3, 9.2],
 [1988, 0.0, 0.0, 1.1, 5.3, 8.3, 10.6],
 [1989, 0.0, 0.0, 5.0, 6.6, 10.5, 11.6],
 [1990, 0.0, 2.2, 3.3, 5.0, 9.8, 11.2],
 [1991, 0.0, 0.6, 2.9, 5.7, 7.3, 7.6],
 [1992, 0.0, 1.9, 4.9, 6.9, 7.7, 10.0],
 [1993, 0.0, 0.5, 2.3, 7.5, 10.5, 12.0],
 [1994, 0.0, 0.2, 0.6, 3.3, 5.3, 9.4],
 [1995, 0.0, 1.6, 5.1, 7.6, 12.8, 13.9],
 [1996, 0.3, 0.6, 5.3, 9.8, 13.7, 16.6],
 [1997, 0.0, 1.9, 7.1, 15.3, 20.7, 22.2],
 [1998, 0.0, 2.0, 3.0, 4.1, 8.8, 10.8],
 [1999, 0.0, 0.2, 6.0, 10.6, 13.1, 18.7],
 [2000, 0.0, 0.6, 2.1, 5.5, 9.7, 12.3],
 [2001, 0.0, 2.8, 4.1, 5.6, 6.5, 7.1],
 [2002, 0.0, 1.1, 3.1, 6.4, 9.6, 11.3],
 [2003, 0.0, 0.7, 1.9, 4.8, 8.0, 10.5],
 [2004, 0.0, 0.1, 3.3, 7.1, 9.7, 13.4],
 [2005, 0.0, 2.6, 2.9, 5.7, 6.9, 7.8],
 [2006, 0.0, 0.4, 3.8, 7.6, 11.7, 14.5],
 [2007, 0.0, 1.0, 3.1, 6.5, 7.5, 10.4],
 [2008, 0.3, 2.1, 3.5, 7.1, 11.2, 14.0],
 [2009, 0.0, 0.0, 1.9, 6.4, 8.9, 10.3],
 [2010, 0.3, 2.3, 3.4, 4.9, 6.6, 7.4],
 [2011, 0.0, 1.4, 4.4, 8.5, 11.0, 13.0],
 [2012, 0.0, 0.5, 2.7, 5.0, 7.7, 10.3],
 [2013, 0.0, 1.0, 4.6, 9.1, 10.9, 12.4],
 [2014, 1.7, 2.6, 4.5, 7.0, 9.9, 15.1],
 [2015, 0.0, 0.2, 3.0, 6.6, 8.4, 10.6],
 [2016, 0.0, 0.6, 2.9, 7.5, 10.1, 11.3],
 [2017, 0.0, 0.0, 1.6, 6.9, 9.9, 17.8],
 [2018, 0.0, 0.4, 4.7, 7.3, 10.4, 13.1],
 [2019, 0.0, 0.1, 1.8, 3.9, 5.9, 13.5],
 [2020, 1.0, 1.9, 2.8, 4.9, 8.1, 10.9],
 [2021, 0.0, 0.5, 2.8, 4.8, 6.7, 9.6]]

In [6]:
totsnow = pd.DataFrame(Snow_depth, columns = ['Year','Oct','Nov','Dec','Jan','Feb','Mar'])
totsnow

    Year  Oct  Nov  Dec   Jan   Feb   Mar
0   1982  0.0  1.1  5.2  12.0  17.3  20.1
1   1983  0.3  1.1  3.7  10.4  13.0  17.1
2   1984  0.0  0.0  5.0   8.6  10.0  12.5
3   1985  0.0  2.6  7.4   9.2   9.3  12.3
4   1986  0.0  1.9  4.8   6.2   9.0  15.0
5   1987  0.8  0.3  4.6   5.1   7.3   9.2
6   1988  0.0  0.0  1.1   5.3   8.3  10.6
7   1989  0.0  0.0  5.0   6.6  10.5  11.6
8   1990  0.0  2.2  3.3   5.0   9.8  11.2
9   1991  0.0  0.6  2.9   5.7   7.3   7.6
10  1992  0.0  1.9  4.9   6.9   7.7  10.0
11  1993  0.0  0.5  2.3   7.5  10.5  12.0
12  1994  0.0  0.2  0.6   3.3   5.3   9.4
13  1995  0.0  1.6  5.1   7.6  12.8  13.9
14  1996  0.3  0.6  5.3   9.8  13.7  16.6
15  1997  0.0  1.9  7.1  15.3  20.7  22.2
16  1998  0.0  2.0  3.0   4.1   8.8  10.8
17  1999  0.0  0.2  6.0  10.6  13.1  18.7
18  2000  0.0  0.6  2.1   5.5   9.7  12.3
19  2001  0.0  2.8  4.1   5.6   6.5   7.1
20  2002  0.0  1.1  3.1   6.4   9.6  11.3
21  2003  0.0  0.7  1.9   4.8   8.0  10.5
22  2004  0.0  0.1  3.3   7.1   9.7  13.4
23  2005  0.0  2.6  2.9   5.7   6.9   7.8
24  2006  0.0  0.4  3.8   7.6  11.7  14.5
25  2007  0.0  1.0  3.1   6.5   7.5  10.4
26  2008  0.3  2.1  3.5   7.1  11.2  14.0
27  2009  0.0  0.0  1.9   6.4   8.9  10.3
28  2010  0.3  2.3  3.4   4.9   6.6   7.4
29  2011  0.0  1.4  4.4   8.5  11.0  13.0
30  2012  0.0  0.5  2.7   5.0   7.7  10.3
31  2013  0.0  1.0  4.6   9.1  10.9  12.4
32  2014  1.7  2.6  4.5   7.0   9.9  15.1
33  2015  0.0  0.2  3.0   6.6   8.4  10.6
34  2016  0.0  0.6  2.9   7.5  10.1  11.3
35  2017  0.0  0.0  1.6   6.9   9.9  17.8
36  2018  0.0  0.4  4.7   7.3  10.4  13.1
37  2019  0.0  0.1  1.8   3.9   5.9  13.5
38  2020  1.0  1.9  2.8   4.9   8.1  10.9
39  2021  0.0  0.5  2.8   4.8   6.7   9.6