In [226]:
import numpy as np
import os
import pandas as pd
import io

In [200]:
os.getcwd()

'/Users/liamhettinger/Documents/PythonFinal'

In [201]:
path = os.getcwd()
files = os.listdir(path)
files

['Fullset.csv',
 '2019Permit.xlsx',
 'Untitled1.ipynb',
 '.DS_Store',
 'Untitled.ipynb',
 '2016Permit.xlsx',
 '2021Permit.xlsx',
 'FINAL.ipynb',
 '2015Permit.xlsx',
 '2018Permit.xlsx',
 '.ipynb_checkpoints',
 '2017Permit.xlsx',
 '2020Permit.xlsx',
 'Ones I can look at']

In [202]:
files_xls = [f for f in files if f[-4:] == 'xlsx']
files_xls

['2019Permit.xlsx',
 '2016Permit.xlsx',
 '2021Permit.xlsx',
 '2015Permit.xlsx',
 '2018Permit.xlsx',
 '2017Permit.xlsx',
 '2020Permit.xlsx']

In [203]:
#for file in files_xls:
    #files = pd.read_excel(file, header=None)
    #files = df.iloc[: , 6:]

In [204]:
readxls = []
for file in files_xls:
    readxls.append(pd.read_excel(file, header=None))
Fullset = pd.concat(readxls, ignore_index=True)
Fullset

,0,1,2,3,4,5,6,7
0,2019 Middle Fork Salmon River Lottery,First Choice,2nd Choice,3rd Choice,4th Choice,Total Choices for this date:,NaN,Available # of Permits
1,2019-05-28 00:00:00,133,29,18,34,214,NaN,4
2,2019-05-29 00:00:00,35,80,10,20,145,NaN,4
3,2019-05-30 00:00:00,50,31,75,18,174,NaN,4
4,2019-05-31 00:00:00,55,39,18,61,173,NaN,4
...,...,...,...,...,...,...,...,...
702,2020-08-31 00:00:00,27,19,27,63,136,NaN,4
703,2020-09-01 00:00:00,38,53,65,46,202,NaN,5
704,2020-09-02 00:00:00,33,42,43,44,162,NaN,4
705,2020-09-03 00:00:00,28,17,38,46,129,NaN,6
706,TOTALS:,17453,16918,16185,15204,65760,NaN,387

In [205]:
print("Shape is")
print(Fullset.shape)
print("Head is")
print(Fullset.head())
print("Column names are")
print(Fullset.columns)

Shape is
(707, 8)
Head is
                                       0             1           2  \
0  2019 Middle Fork Salmon River Lottery  First Choice  2nd Choice
1                    2019-05-28 00:00:00           133          29
2                    2019-05-29 00:00:00            35          80
3                    2019-05-30 00:00:00            50          31
4                    2019-05-31 00:00:00            55          39

            3           4                             5   6  \
0  3rd Choice  4th Choice  Total Choices for this date: NaN
1          18          34                           214 NaN
2          10          20                           145 NaN
3          75          18                           174 NaN
4          18          61                           173 NaN

                        7
0  Available # of Permits
1                       4
2                       4
3                       4
4                       4
Column names are
Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [206]:
for file in readxls:
    print(file.shape)
print(Fullset.shape)

(101, 8)
(101, 8)
(101, 8)
(101, 8)
(101, 8)
(101, 8)
(101, 8)
(707, 8)

In [207]:
Fullset.columns = ['Middle Fork Salmon River Lottery','First Choice', '2nd Choice', '3rd Choice', '4th Choice', 'Total Choices for this date:', 'NA', 'Available # of Permits']

In [208]:
print(Fullset.columns)
print(Fullset)

Index(['Middle Fork Salmon River Lottery', 'First Choice', '2nd Choice',
       '3rd Choice', '4th Choice', 'Total Choices for this date:', 'NA',
       'Available # of Permits'],
      dtype='object')
          Middle Fork Salmon River Lottery  First Choice  2nd Choice  \
0    2019 Middle Fork Salmon River Lottery  First Choice  2nd Choice
1                      2019-05-28 00:00:00           133          29
2                      2019-05-29 00:00:00            35          80
3                      2019-05-30 00:00:00            50          31
4                      2019-05-31 00:00:00            55          39
..                                     ...           ...         ...
702                    2020-08-31 00:00:00            27          19
703                    2020-09-01 00:00:00            38          53
704                    2020-09-02 00:00:00            33          42
705                    2020-09-03 00:00:00            28          17
706                                TOTALS:         17453       16918

     3rd Choice  4th Choice  Total Choices for this date:  NA  \
0    3rd Choice  4th Choice  Total Choices for this date: NaN
1            18          34                           214 NaN
2            10          20                           145 NaN
3            75          18                           174 NaN
4            18          61                           173 NaN
..          ...         ...                           ...  ..
702          27          63                           136 NaN
703          65          46                           202 NaN
704          43          44                           162 NaN
705          38          46                           129 NaN
706       16185       15204                         65760 NaN

     Available # of Permits
0    Available # of Permits
1                         4
2                         4
3                         4
4                         4
..                      ...
702                       4
703                       5
704                       4
705                       6
706                     387

[707 rows x 8 columns]

In [209]:
columns = ['Middle Fork Salmon River Lottery', 'First Choice', '2nd Choice',
       '3rd Choice', '4th Choice', 'Total Choices for this date:',
       'Available # of Permits']
Fullset = pd.DataFrame(Fullset.loc[:, columns])
print(Fullset)

          Middle Fork Salmon River Lottery  First Choice  2nd Choice  \
0    2019 Middle Fork Salmon River Lottery  First Choice  2nd Choice
1                      2019-05-28 00:00:00           133          29
2                      2019-05-29 00:00:00            35          80
3                      2019-05-30 00:00:00            50          31
4                      2019-05-31 00:00:00            55          39
..                                     ...           ...         ...
702                    2020-08-31 00:00:00            27          19
703                    2020-09-01 00:00:00            38          53
704                    2020-09-02 00:00:00            33          42
705                    2020-09-03 00:00:00            28          17
706                                TOTALS:         17453       16918

     3rd Choice  4th Choice  Total Choices for this date:  \
0    3rd Choice  4th Choice  Total Choices for this date:
1            18          34                           214
2            10          20                           145
3            75          18                           174
4            18          61                           173
..          ...         ...                           ...
702          27          63                           136
703          65          46                           202
704          43          44                           162
705          38          46                           129
706       16185       15204                         65760

     Available # of Permits
0    Available # of Permits
1                         4
2                         4
3                         4
4                         4
..                      ...
702                       4
703                       5
704                       4
705                       6
706                     387

[707 rows x 7 columns]

In [210]:
print(Fullset.index)

RangeIndex(start=0, stop=707, step=1)

In [211]:
rows = [0,100,101,201,202,302,303,403,404,504,505,605,606,706]
print(pd.DataFrame(Fullset.loc[rows, :]))

                      Middle Fork Salmon River Lottery  First Choice  \
0                2019 Middle Fork Salmon River Lottery  First Choice
100                                            TOTALS:         14648
101              2016 Middle Fork Salmon River Lottery  First Choice
201                                            TOTALS:         11611
202  2021 Middle Fork Salmon River Lottery Launch D...  First Choice
302                                            TOTALS:         22389
303              2015 Middle Fork Salmon River Lottery  First Choice
403                                            TOTALS:         10849
404              2018 Middle Fork Salmon River Lottery  First Choice
504                                            TOTALS:         13265
505              2017 Middle Fork Salmon River Lottery  First Choice
605                                            TOTALS:         12980
606                   Middle Fork Salmon River Lottery  First Choice
706                                            TOTALS:         17453

     2nd Choice  3rd Choice  4th Choice  Total Choices for this date:  \
0    2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
100       13969       13292       12506                         54415
101  2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
201       11197        9389        8495                         40692
202  2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
302       21777       20957       19832                         84955
303  2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
403       10404        8669        7839                         37761
404  2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
504       12886       10586        9587                         46324
505  2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
605       12628       10225        9206                         45039
606  2nd Choice  3rd Choice  4th Choice  Total Choices for this date:
706       16918       16185       15204                         65760

      Available # of Permits
0     Available # of Permits
100                      387
101   Available # of Permits
201                      387
202  Available # of Permits*
302                      220
303   Available # of Permits
403                      387
404   Available # of Permits
504                      387
505   Available # of Permits
605                      387
606   Available # of Permits
706                      387

In [212]:
listrow = [0]
i = 0
for i in range(706):
        i = i + 1 
        listrow.append(i)

In [213]:
for num in rows:
    if num in listrow:
        listrow.remove(num)
        
listrow
    
Fullset = pd.DataFrame(Fullset.loc[listrow, :])
print(Fullset)

    Middle Fork Salmon River Lottery First Choice 2nd Choice 3rd Choice  \
1                2019-05-28 00:00:00          133         29         18
2                2019-05-29 00:00:00           35         80         10
3                2019-05-30 00:00:00           50         31         75
4                2019-05-31 00:00:00           55         39         18
5                2019-06-01 00:00:00           95         48         37
..                               ...          ...        ...        ...
701              2020-08-30 00:00:00           20         12         28
702              2020-08-31 00:00:00           27         19         27
703              2020-09-01 00:00:00           38         53         65
704              2020-09-02 00:00:00           33         42         43
705              2020-09-03 00:00:00           28         17         38

    4th Choice Total Choices for this date: Available # of Permits
1           34                          214                      4
2           20                          145                      4
3           18                          174                      4
4           61                          173                      4
5           20                          200                      4
..         ...                          ...                    ...
701         46                          106                      5
702         63                          136                      4
703         46                          202                      5
704         44                          162                      4
705         46                          129                      6

[693 rows x 7 columns]

In [219]:
print(pd.to_datetime(Fullset['Middle Fork Salmon River Lottery']))

1     2019-05-28
2     2019-05-29
3     2019-05-30
4     2019-05-31
5     2019-06-01
         ...
701   2020-08-30
702   2020-08-31
703   2020-09-01
704   2020-09-02
705   2020-09-03
Name: Middle Fork Salmon River Lottery, Length: 693, dtype: datetime64[ns]

In [229]:
dates = pd.DatetimeIndex(Fullset['Middle Fork Salmon River Lottery'])
days = dates.dayofweek
print(days)
Fullset['Day of week'] = days

Int64Index([1, 2, 3, 4, 5, 6, 0, 1, 2, 3,
            ...
            1, 2, 3, 4, 5, 6, 0, 1, 2, 3],
           dtype='int64', name='Middle Fork Salmon River Lottery', length=693)

In [233]:
Fullset.loc[106, :]
#checking a random date and comparing it to a calendar

Middle Fork Salmon River Lottery    2016-06-01 00:00:00
First Choice                                         42
2nd Choice                                           22
3rd Choice                                           27
4th Choice                                           14
Total Choices for this date:                        105
Available # of Permits                                4
Day of week                                           2
Name: 106, dtype: object

In [124]:
Permit2019 = pd.read_excel('2019Permit.xlsx')
print(pd.DataFrame.head(Permit2019, 0))
df = pd.DataFrame(columns = ['Name', 'Articles', 'Improved'])

Empty DataFrame
Columns: [2019 Middle Fork Salmon River Lottery, First Choice, 2nd Choice, 3rd Choice, 4th Choice, Total Choices for this date:, Unnamed: 6, Available # of Permits]
Index: []

In [126]:
oldhead = ['2019 Middle Fork Salmon River Lottery', 'First Choice', '2nd Choice', '3rd Choice', '4th Choice', 'Total Choices for this date:', 'Unnamed: 6', 'Available # of Permits']
newhead = ['Middle Fork Salmon River Lottery','First Choice', '2nd Choice', '3rd Choice', '4th Choice', 'Total Choices for this date:', 'NA', 'Available # of Permits']

print(pd.DataFrame.head(Permit2019, 0))

Empty DataFrame
Columns: [2019 Middle Fork Salmon River Lottery, First Choice, 2nd Choice, 3rd Choice, 4th Choice, Total Choices for this date:, Unnamed: 6, Available # of Permits]
Index: []

In [140]:
for file in readxls:
    print(file.shape)
print(Fullset.shape)

(101, 8)
(101, 8)
(101, 8)
(101, 8)
(101, 8)
(101, 8)
(101, 8)
(707, 8)

In [ ]:
df = pd.DataFrame()
for file in files_xls:
    df = df.append(pd.read_excel(file, sheet_name=0, skiprows=1), ignore_index=True) 
df[100:]

In [110]:
Permit2021 = pd.read_excel('2021Permit.xlsx', header=1)
Permit2020 = pd.read_excel('2020Permit.xlsx', header=1)
Permit2019 = pd.read_excel('2019Permit.xlsx', header=1)
Permit2018 = pd.read_excel('2018Permit.xlsx', header=1)
Permit2017 = pd.read_excel('2017Permit.xlsx', header=1)
Permit2016 = pd.read_excel('2016Permit.xlsx', header=1)
Permit2015 = pd.read_excel('2015Permit.xlsx', header=1)

SyntaxError: invalid syntax (<ipython-input-110-03ed7c41ff07>, line 1)

In [111]:
#df = pd.DataFrame(Permit2021)
#print(df)


#value1 = Permit2021['2021 Middle Fork Salmon River Lottery Launch Dates', 'First Choice', '2nd Choice', '3rd Choice', '4th Choice', 'Total Choices for this date:', 'Available # of Permits*']
#value2 = Premit2020['Middle Fork Salmon River Lottery','First Choice', '2nd Choice', '3rd Choice', '4th Choice', 'Total Choices for this date:', 'NA', 'Available # of Permits']



FullSet = pd.merge([Permit2021, Permit2020], how="outer")
FullSet

TypeError: merge() missing 1 required positional argument: 'right'

In [96]:
FullSet[96:]

,2021 Middle Fork Salmon River Lottery Launch Dates,First Choice,2nd Choice,3rd Choice,4th Choice,Total Choices for this date:,Unnamed: 6,Available # of Permits*,Middle Fork Salmon River Lottery,Available # of Permits
96,2021-09-01 00:00:00,119,116,112,98,445,NaN,4.0,NaN,NaN
97,2021-09-02 00:00:00,39,38,36,32,145,NaN,2.0,NaN,NaN
98,2021-09-03 00:00:00,47,44,43,37,171,NaN,4.0,NaN,NaN
99,TOTALS:,22389,21777,20957,19832,84955,NaN,220.0,NaN,NaN
0,NaN,173,35,24,33,265,NaN,NaN,2020-05-28 00:00:00,4.0
...,...,...,...,...,...,...,...,...,...,...
95,NaN,27,19,27,63,136,NaN,NaN,2020-08-31 00:00:00,4.0
96,NaN,38,53,65,46,202,NaN,NaN,2020-09-01 00:00:00,5.0
97,NaN,33,42,43,44,162,NaN,NaN,2020-09-02 00:00:00,4.0
98,NaN,28,17,38,46,129,NaN,NaN,2020-09-03 00:00:00,6.0
99,NaN,17453,16918,16185,15204,65760,NaN,NaN,TOTALS:,387.0

In [113]:
df = pd.DataFrame()
for f in files_xls:
    pd.read_excel(f)
    df = df.append(data)

In [114]:
df

,2020 Middle Fork Salmon River Lottery,First Choice,2nd Choice,3rd Choice,4th Choice,Total Choices for this date:,Unnamed: 6,Available # of Permits
0,2020-05-28 00:00:00,173,35,24,33,265,NaN,4
1,2020-05-29 00:00:00,48,79,20,24,171,NaN,4
2,2020-05-30 00:00:00,40,29,54,19,142,NaN,4
3,2020-05-31 00:00:00,32,30,29,53,144,NaN,4
4,2020-06-01 00:00:00,139,48,38,25,250,NaN,4
...,...,...,...,...,...,...,...,...
95,2020-08-31 00:00:00,27,19,27,63,136,NaN,4
96,2020-09-01 00:00:00,38,53,65,46,202,NaN,5
97,2020-09-02 00:00:00,33,42,43,44,162,NaN,4
98,2020-09-03 00:00:00,28,17,38,46,129,NaN,6
99,TOTALS:,17453,16918,16185,15204,65760,NaN,387